/* GENERAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

input {
    padding: 5px;
}


li {
    list-style: none;
}

/* UTILITIES */
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.black {
    background: #000;
}

.big-text {
    font-size: 130%;
}

.button {
    padding: 15px;
    font-size: 120%;
}

.container {
    padding: 25px;
    background: orange;
}

.flex-nw {
    display: flex;
}

.flex-w {
    display: flex;
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.central {
    margin: auto;
}

.green {
    background: green;
}

.green-color {
    color: green;
}

.red-color {
    color: red;
}

.section-header {
    margin-bottom: 15px;
}

.small-text {
    font-size: 80%;
}

.white-color {
    color: #fff;
}

/* APP */
.app {
    height: 100vh;
    flex-direction: column;
}

/* MAIN */
main {
    flex-grow: 1;
    padding: 25px;
    justify-content: center;
    align-items: center;
}

    .wrapper {
        height: 80%;
        width: 800px;
        justify-content: center;
        align-items: center;
        background: blue;
    }

    .wrapper button {
        padding: 5px;
        top: 50%;
        background: transparent;
    }

    .prev-button {
        transform: translateY(-100%);
    }

    .next-button {
        left: 100%;
        transform: translate(-100%, -50%);
    }

    .wrapper {
        height: 300px;
        width: 500px;
    }

    .img-box {
        display: none;
        height: 100%;
        width: 100%;
    }

    .img-box.active {
        display: block;
    }


/* FOOTER  */
footer {
    flex-basis: 28px;
    font-style: italic;
    font-size: 5px;
    text-align: right;
    padding: 0 15px 10px;
    height: 28px;
  }