/* GENERAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

input {
    padding: 5px;
}


li {
    list-style: none;
}

/* UTILITIES */
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.black {
    background: #000;
}

.big-text {
    font-size: 130%;
}

.container {
    padding: 25px;
    background: orange;
}

.flex-nw {
    display: flex;
}

.flex-w {
    display: flex;
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.central {
    margin: auto;
}

.green {
    background: green;
}

.green-color {
    color: green;
}

.red-color {
    color: red;
}

.section-header {
    margin-bottom: 15px;
}

.small-text {
    font-size: 80%;
}

.white-color {
    color: #fff;
}

/* APP */
.app {
    height: 100vh;
    flex-direction: column;
}

/* MAIN */
main {
    flex-grow: 1;
    padding: 25px;
    justify-content: center;
    align-items: center;
}

/* main: WRAPPER */
    .wrapper {
        height: 300px;
        width: 500px;
        justify-content: center;
        align-items: center;
        background: blue;
    }


        /* Buttons */
        .wrapper button,
        .wrapper button.focus {
            padding: 5px;
            top: 50%;
            font-size: 200%;
            background: rgba(0, 0, 0, 0.1);
            border: 0;
            outline: none;
            color: darkred;
        }

        .prev-button {
            transform: translateY(-50%);
        }

        .next-button {
            left: 100%;
            transform: translate(-100%, -50%);
        }


        /* controller */
        .controller {
            bottom: 15px;
            background: rgba(0, 0, 0, 0.5);
            left: 50%;
            transform: translateX(-50%);
            border-radius: 5px;
            align-items: center;
        }

        .controller .circle {
            display: inline-block;
            margin: 5px;
            width: 20px;
            height: 20px;
            border: 2px solid #fff;
            border-radius: 50%;
            color: #000
        }


        /* img-box */
        .img-box {
            display: none;
            height: 100%;
            width: 100%;
        }

        .img-box.active {
            display: block;
        }


/* FOOTER  */
footer {
    flex-basis: 28px;
    font-style: italic;
    font-size: 5px;
    text-align: right;
    padding: 0 15px 10px;
    height: 28px;
  }